// util styles
@import './utils/variables';
@import './utils/v-hidden';
@import './utils/backdrop-is-hidden';
@import './utils/placeholders';
@import './utils/mixins';


// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/container.scss';
@import './components/section';
@import './components/section-titles';
@import './components/buttons';
@import './components/header';
@import './components/logo';
@import './components/header-nav';
@import './components/header-contacts';
@import './components/hero';
@import './components/features';
@import './components/works-section';
@import './components/works';
@import './components/team';
@import './components/members';
@import './components/member-socials';
@import './components/clients.scss';
@import './components/footer.scss';
@import './components/footer-socials';
@import './components/footer-form';
@import './components/backdrop';
@import './components/modal';
@import './components/modal-form';
@import './components/portfolio-section';
@import './components/filter';
@import './components/galery';
@import './components/project-card';
@import './components/menu';