.clients {
    @extend %section;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;


    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}



.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: solid 1px var(--social-icons-color);
    border-radius: 4px;
    fill: var(--social-icons-color);

    @media screen and (min-width: $tablet) {
        width: 226px;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    }

    transition-property: fill,
    border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }
}

