.filter {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0px;
        margin-bottom: 40px;
        gap: 15px 15px;
    }

    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    gap: 8px;
}