.footer {
    background-color: var(--secondary-bg-color);
    padding: 60px 0;
}

.footer__box {
    display: flex;
    align-items: baseline;

}

.contacts__item {
    margin-top: 9px;
}

.contacts__address {
    color: var(--primary-color);

    text-decoration: none;
    @include fonts(14px, 24px);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



.contacts__mail {
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
    @include fonts(14px, 24px);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



.contacts__mobile {
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
    @include fonts(14px, 24px);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

