.header__logo-web {
    color: var(--accent-color);

    font-family: var(--secondary-font);
    @include fonts (24px, 28px);
    // font-size: 26px;
    // line-height: 1.2;
    text-decoration: none;

    @media screen and (min-width: $desktop) {
        @include fonts (26px, 31px);
    }
}

.header__logo {
    padding: 15px 16px;
    color: var(--primary-additional-color);

    font-family: var(--secondary-font);
    @include fonts (24px, 28px);
    text-decoration: none;

    @media screen and (min-width: $tablet) {
        margin-right: 87px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
            @include fonts (26px, 31px);
        }
}

.footer__logo-web {
    color: var(--accent-color);

    font-family: var(--secondary-font);
    @include fonts (26px, 31px);
}

.footer__logo {
    padding: 60px 163px;
    color: var(--primary-color);

    text-decoration: none;
    font-family: var(--secondary-font);
    @include fonts (24px, 28px);

    @media screen and (min-width: $tablet) {
            padding: 60px 115px;
        }

    @media screen and (min-width: $desktop) {
        padding: 0;
            margin-right: 93px;
            @include fonts (26px, 31px);
        }
}