.project {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--project-gradient);

    transform: translateY(101%);

    transition: transform 250ms;

    .galery__link:hover &,
    .galery__link:focus & {
        transform: translateY(0);
    }
}



.project__overlay-txt {
    padding: 63px 24px;

    text-align: left;
    @include fonts(18px, 28px);
    
    color: var(--primary-color);
}

.project__picture {
    display: block;
}

.project__descr {
    padding: 20px 24px;

    @media screen and (min-width: $tablet) {
        min-height: 146px;
    }
    border: solid var(--primary-border-color) 1px;
}

.project__title {
    color: var(--primary-text-color);

    margin-bottom: 4px;

    @include fonts(18px, 36px, 700, 0.06em);
}

.project__name {
    color: var(--secondary-additional-color);

    @include fonts(16px, 30px);
}

