.team {
    @extend %section;
    
    background-color: var(--filter-btn-team-section-bg-color);

    text-align: center;
}

.team__list {
    display: block;

    @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
   
    @media screen and (min-width: $desktop) {
        display: flex;
            gap: 30px;
    }
}

.team__item {
    width: 450px;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
            width: 354px;
        }

        @media screen and (min-width: $desktop) {
            margin-bottom: 0;
            width: 270px;
        }

    background-color: var(--primary-color);

    border-radius: 0 0 4px 4px;

    box-shadow: var(--primary-shadow);
}