/* what are we doing */

.works {
    display: flex;
    gap: 30px;
}

.works__wrapper {
    position: relative;
}

.works__txt {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 370px;
    height: 70px;

    color: var(--primary-color);
    background-color: var(--primary-bg-gradient);

    @include fonts (14px, 16px, 700);
    text-transform: uppercase;
}